// Colors
$header-color: #a7b3a1;
$light-color: #f7fff2;
$dark-color: #a1b3b0;
$active-color: #ffffff;
$static-color: #000000;

// Boxes
$margin: 10;

// Fonts
@font-face {
  font-family: game-font;
  src: url("./fonts/PressStart2P-Regular.ttf");
}
