@import "./index";
.nav {
  background-color: $header-color;
  display: flex;
  // text-align: center;
  width: 100%;
  height: 16%;
  overflow: hidden;
}

.bars {
  height: 2.5em;
  background-color: $header-color;
  color: #ffffff;
  width: 40px;
  margin: auto;
  margin-left: 5.25%;
  cursor: pointer;
}

.nav-left {
  position: absolute;
  top: 16%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 100%;
  z-index: 2;
  opacity: 0.99;
  text-align: center;

  .nav-left-element {
    display: flex;
    flex-wrap: nowrap;
    width: 10.5%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    // margin-left: 0.69vw;
    // margin-bottom: 0.97vh;
    height: 15.4vh;
    text-align: center;
  }
}

.nav-right {
  display: flex;
  margin-left: auto;

  .nav-right-element {
    display: flex;
    flex-wrap: nowrap;
    width: 10.5vw;
    padding: 0;
    height: 15.4vh;
    font-size: 0.5em;
  }

  .nav-right-user-name {
    text-decoration: none;

    margin: auto;
    margin-right: 0;
    font-size: 0.6em;
    font-family: game-font;
    align-items: right;
    text-align: right;
    color: $light-color;
  }
  img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    margin: auto;
  }

  .log-out {
    font-size: 1em;
    text-decoration: none;
    color: $light-color;
    margin: auto;

    font-family: game-font;
    width: fit-content;
    text-align: center;
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  color: $dark-color;
  margin: auto;
  font-size: 0.7em;
  font-family: game-font;
  width: fit-content;
  text-align: center;
  color: $dark-color !important;
  cursor: pointer;
}
