.question {
  min-height: calc(100vh - 180px);
  width: 100%;

  .poll {
    display: flex;
    padding-bottom: 50px;
    // height: 98%;
    width: 80%;
    margin: auto;
    margin-top: 8vh;
    background-color: $light-color;

    h3 {
      font-family: game-font;
      color: $dark-color;
      font-size: 2.6em;
    }

    .poll-user {
      padding: 100px;
      margin: auto;
      text-align: center;
      // flex: 14%;

      p {
        font-size: 2.6em;
      }

      img {
        border-radius: 100%;

        width: 14.4em;
        height: 14.4em;
      }
    }

    .poll-body {
      flex: 1;
      margin: auto;
      text-align: center;
      // flex: 62%;
      border-left: solid 1px $dark-color;

      .labels {
        border: 1px solid $dark-color;
        background-color: #ffffff;
        margin-left: 18.5%;
        margin-right: 18.5%;
        padding-top: 1%;
        margin-bottom: 3%;
        // padding-bottom: 1%;
      }

      .poll-body-labels {
        font-size: 1.4em;
        background-color: #ffffff;
        // margin-left: 5.5em;
        // margin-right: 5.5em;
        margin-bottom: 1em;
        text-align: left;

        padding: 5px;
      }

      .poll-result {
        // background-color: #ffffff;
        margin-left: 18.5%;
        margin-right: 18.5%;
        padding-top: 1%;

        margin-bottom: 3%;

        .poll-result-label {
          margin-bottom: 5px !important;
          font-weight: 500;
        }

        .authed-vote-avatar {
          width: 1.5em;
          height: 1.5em;
          border-radius: 100%;
          //   border: 1px $dark-color solid;
          margin: 5px;
          margin-left: auto;
          padding: 0;
        }
      }

      .poll-body-result {
        font-size: 1.4em;
        background-color: #ffffff;
        margin-top: 1em;
        text-align: left;
        padding-top: 1px;
        padding-left: 5px;
        padding-right: 5px;
        border: $dark-color solid 1px;
        border-right: $dark-color solid 4px;
      }

      .percetage-container {
        width: 100%;
        position: relative;
        .out-of {
          width: fit-content;
          font-size: 0.7em;
          margin-left: auto;
        }
        p {
          margin: 0;
          padding: 5px;
        }
      }

      input[type="radio" i] {
        display: inline-block;
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
        margin: 20px;

        &:checked {
          background-color: black;
        }
      }

      input[type="submit" i] {
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: $dark-color;
        cursor: pointer;
        border: none;
        color: #ffffff;
        font-size: 1.4em;
      }

      .radio-btn {
        background-color: $dark-color;
        color: black;
      }
    }
  }
}

@media (max-width: 1312px) {
  .question {
    // height: max-content;
    // margin: auto;
    padding-bottom: 40px !important;
  }
  .poll {
    // height: 99.5% !important;
    flex-direction: column;
    display: inline-block;
    .poll-user {
      height: fit-content;
      margin: auto;
      //
      padding: 20px !important;

      p {
        font-size: 20px !important;
      }

      img {
        height: 60px !important;
        width: 60px !important;
      }
    }

    .poll-body {
      padding: 0;
      padding-top: 10px;
      border-left: none !important;
      // border-top: 1px solid $dark-color;
      margin: auto;
      margin-right: 10% !important;
      margin-left: 10% !important;
      // height: fit-content;

      h3 {
        font-size: 14px;
      }

      .labels {
        margin-left: 0% !important;
        margin-right: 0% !important;
        padding-top: 1%;
        margin-bottom: 3%;
        // padding-bottom: 1%;

        .poll-body-labels {
          font-size: 14px;
        }
      }
      input[type="submit" i] {
        margin-top: 10px;
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
        font-size: 14px !important;
      }
    }

    .poll-result {
      margin: 0px !important;

      .poll-body-result {
        .percetage-container {
          .out-of {
            font-size: 10px;
          }
        }
      }

      .poll-result-label {
        font-size: 14px;
      }
    }
  }
}
